/* Reset */
* {
  font-family: "Gill Sans", sans-serif;
}

/* Layout */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 100px;
  background-color: #ebebeb;
  color: #1e1e1e;
  border: 10px solid #ffcc00;
  font-size: 18pt;
}

.content {
  width: 80%;
  margin-bottom: 50px;
  mix-blend-mode: difference;
  color: #fff;
}

/* Typography */
h1 {
  font-size: 70pt;
}

h2 {
  font-size: 38pt;
}

/* Components */
.intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.intro p {
  margin: 0;
}

.takeovers {
  display: flex;
  flex-wrap: wrap;
}

.takeover-box {
  width: 250px;
  flex-grow: 1;
  padding: 20px;
  margin: 16px;
  border: 1px solid;
  border-radius: 8px;
}
